
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="images/logo.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>출석페이지</title>
  <style>
    header{
      width: 100%;
    height: 100px;
    z-index: 4;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-top: 0;
    opacity: 1;
    background-color: black;
    }
    .logo{
      width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    }
    button {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 200px;
    font-size: 40px;
    color: black;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: black;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  </style>
</head>
<body>
  <script>
    setTimeout( function(){
      window.location.href='/';
    },2000);
  </script>
  
  <header>
    <img class="logo" src="images/logo2.png">
</header>

<div class="container">
  <section>
  <div>
    <p><%= posts.NAME %> 야 출석했으니 자리에 앉아서 공부나 해 필요한 거 있으면 말하고</p>
  </div>
</section>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>